In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from load_stats_func import load_NBA_stats

In [15]:
target_col = 'Pos'

df_X_train, s_y_train, df_X_test, s_y_test  = load_NBA_stats(return_X_y=True, target_col=target_col,split_test=True, split_test_elements=50)

df_X_train, df_X_test = df_X_train.drop(['Tm'], axis=1), df_X_test.drop(['Tm'], axis=1)

s_y_test.value_counts()

SG       12
C        10
PG        9
PF        9
SF        9
PF-SF     1
Name: Pos, dtype: int64

In [16]:
dict_imputation = dict()

for col in df_X_train.columns:
    if col == target_col or col == 'Player':
        continue
    dict_imputation[col] = round(df_X_train[col].mean(),3)
    df_X_train[col].fillna(dict_imputation[col],inplace=True)

In [17]:
dict_imputation

{'Age': 25.841,
 'G': 41.503,
 'GS': 19.849,
 'MP': 19.494,
 'FG': 3.291,
 'FGA': 7.015,
 'FG%': 0.464,
 '3P': 0.98,
 '3PA': 2.754,
 '3P%': 0.32,
 '2P': 2.314,
 '2PA': 4.26,
 '2P%': 0.536,
 'eFG%': 0.533,
 'FT': 1.451,
 'FTA': 1.86,
 'FT%': 0.752,
 'ORB': 0.855,
 'DRB': 2.632,
 'TRB': 3.487,
 'AST': 2.001,
 'STL': 0.603,
 'BLK': 0.374,
 'TOV': 1.094,
 'PF': 1.674,
 'PTS': 9.009,
 '2022/23 Salary': 8653224.645}

In [18]:
dict_normalize = dict()
for col in df_X_train.columns:
    if col == target_col or col == 'Player':
        continue
    dict_normalize[col] = (df_X_train[col].min(),df_X_train[col].max())
    df_X_train[col] = df_X_train[col].apply(lambda x : (x - dict_normalize[col][0])/(dict_normalize[col][1] - dict_normalize[col][0]))
dict_normalize

{'Age': (19, 42),
 'G': (1, 69),
 'GS': (0, 69),
 'MP': (1.0, 37.5),
 'FG': (0.0, 11.3),
 'FGA': (0.0, 22.6),
 'FG%': (0.0, 1.0),
 '3P': (0.0, 5.0),
 '3PA': (0.0, 11.5),
 '3P%': (0.0, 1.0),
 '2P': (0.0, 10.2),
 '2PA': (0.0, 17.7),
 '2P%': (0.0, 1.0),
 'eFG%': (0.0, 1.0),
 'FT': (0.0, 10.2),
 'FTA': (0.0, 12.7),
 'FT%': (0.0, 1.0),
 'ORB': (0.0, 5.1),
 'DRB': (0.0, 9.7),
 'TRB': (0.0, 12.4),
 'AST': (0.0, 10.8),
 'STL': (0.0, 2.0),
 'BLK': (0.0, 3.2),
 'TOV': (0.0, 3.9),
 'PF': (0.0, 3.9),
 'PTS': (0.0, 33.4),
 '2022/23 Salary': (58493, 48070014)}

In [19]:
df_X_train

,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022/23 Salary
0,Precious Achiuwa,0.173913,0.632353,0.159420,0.575342,0.318584,0.331858,0.476,0.10,0.165217,...,0.372549,0.443299,0.491935,0.092593,0.30,0.18750,0.307692,0.512821,0.281437,0.057937
1,Steven Adams,0.434783,0.602941,0.608696,0.712329,0.327434,0.278761,0.597,0.00,0.000000,...,1.000000,0.670103,0.927419,0.212963,0.45,0.34375,0.487179,0.589744,0.257485,0.372168
2,Bam Adebayo,0.260870,0.926471,0.927536,0.934247,0.734513,0.681416,0.541,0.00,0.017391,...,0.470588,0.721649,0.758065,0.305556,0.60,0.25000,0.666667,0.743590,0.628743,0.630959
3,Ochai Agbaji,0.130435,0.647059,0.115942,0.446575,0.176991,0.203540,0.440,0.22,0.260870,...,0.117647,0.113402,0.145161,0.064815,0.10,0.06250,0.102564,0.384615,0.170659,0.080395
4,Santiago Aldama,0.130435,0.911765,0.260870,0.578082,0.292035,0.309735,0.475,0.26,0.321739,...,0.196078,0.371134,0.370968,0.111111,0.30,0.21875,0.179487,0.487179,0.278443,0.042399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Myles Turner,0.304348,0.823529,0.826087,0.783562,0.575221,0.526549,0.546,0.32,0.356522,...,0.274510,0.639175,0.612903,0.120370,0.30,0.75000,0.435897,0.871795,0.538922,0.729783
461,Stanley Umude,0.173913,0.000000,0.000000,0.027397,0.000000,0.044248,0.000,0.00,0.086957,...,0.000000,0.000000,0.000000,0.000000,0.50,0.31250,0.000000,0.000000,0.059880,0.000000
462,Jonas Valanciunas,0.478261,0.926471,0.927536,0.646575,0.495575,0.451327,0.548,0.10,0.130435,...,0.549020,0.701031,0.774194,0.157407,0.15,0.15625,0.512821,0.769231,0.422156,0.304958
463,Jarred Vanderbilt,0.173913,0.911765,0.724638,0.635616,0.292035,0.265487,0.556,0.08,0.095652,...,0.450980,0.577320,0.637097,0.240741,0.55,0.09375,0.333333,0.641026,0.248503,0.089885
464,Fred VanVleet,0.391304,0.808824,0.811594,0.986301,0.548673,0.707965,0.390,0.60,0.765217,...,0.098039,0.391753,0.346774,0.648148,0.85,0.18750,0.487179,0.743590,0.571856,0.441384

In [20]:
def knn_class(df_train, k, target_col, observation, use_weighted_vote ):
   validation = df_train[target_col].copy()
   train = df_train.drop([target_col], axis=1)
   observed_clean = observation.drop([target_col])
   norms = np.linalg.norm((train-observed_clean).astype(float), axis=1) #Euclidean Distance
   idx = np.argpartition(norms,k)[:k] #Index of the k-smallest Euclidean distances between observations

   if use_weighted_vote:
      weighted_sum = {key: 0 for key in validation.value_counts().index}
      weights = 1/(norms**2)
      for i in idx:
         weighted_sum[validation[i]] += weights[i]
      return max(weighted_sum, key=weighted_sum.get)
   
   nearest_types = validation.take(idx)
   return nearest_types.mode()[0]